.cards {
  max-width: 1360px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-style: Bold;

  line-height: 20px;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;

  width: 100%;
  margin: 0;
  padding: 0;
}

.cards__header {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 100%;
}
