.cards {
  max-width: 1360px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-style: Bold;

  line-height: 20px;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;

  width: 100%;
  margin: 0;
  padding: 0;
}

.cards__header {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;

    overflow-x: hidden;
  }

  .cards {
    width: 100%;
  }

  .cards__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
  }

  .cards__header {
    width: 100%;
    margin: 32px 0 20px;
  }
}

@media screen and (max-width: 380px) {
  .cards__list {
    justify-items: center;
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
  }
}
