.cards {
  max-width: 1360px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;

  line-height: 20px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards__header {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 100%;
}
