.card {
  max-width: 325px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #0000004d;
  border-radius: 19px;
  overflow: hidden;
}

.card__title {
  max-width: 53px;
  margin: 0;
  background-color: white;
  position: absolute;
  top: 15px;
  color: #00000099;
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
}
