.modal {
  visibility: visible;
}

.modal__hidden_type_preview {
  visibility: hidden;
}

.modal__preview {
  width: 498px;

  display: flex;
  flex-direction: column;
  position: relative;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;

  font-size: 20px;

  line-height: 24px;
}

.modal__close-btn_type_preview {
  background-image: url(../../images/newCloseBtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.modal__image_type_preview {
  max-width: 100%;
  height: auto;

  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.modal__footer {
  background-color: white;
  border-radius: 0 0 16px 16px;
  padding: 0 0 32px 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal__title_type_preview {
  margin: 20px 0 12px;
}

.modal__weather_type_preview {
  margin: 0;
}

.modal__delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: red;
  position: absolute;
  top: 20px;
  right: 34px;
  cursor: pointer;
}

.modal__delete-btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 380px) {
  .modal__preview {
    max-width: 343px;
  }
}
