.modal {
  visibility: visible;
}

.modal__hidden_type_preview {
  visibility: hidden;
}

.modal__preview {
  max-width: 498px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;

  font-size: 20px;

  line-height: 24px;
}

.modal__close-btn_type_preview {
  background-image: url(../../images/closeBtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  cursor: pointer;
}
.modal__image_type_preview {
  max-width: 498px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.modal__footer {
  background-color: white;
  border-radius: 0 0 16px 16px;
  padding: 0 0 32px 32px;
}

.modal__title_type_preview {
  margin: 20px 0 12px;
}

.modal__weather_type_preview {
  margin: 0;
}
