.weatherCard__container {
  max-width: 1360px;
  height: 80px;
  display: flex;
  position: relative;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: Bold;
}

.weatherCard__img {
  width: 100%;
  object-fit: cover;
  object-position: top right;
  border-radius: 12px;
}

.weatherCard__temp {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 36px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 380px) {
  .weatherCard__container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    height: 80px;
  }

  .weatherCard__img {
    width: 100%;
    overflow-x: hidden;
  }
}
